<form #userForm="ngForm" (ngSubmit)="onSubmit(userForm.value)">
    
    <label [ngClass]="{'label':name.pristine  ,'label-error': name.invalid && !name.pristine  , 'label-focus': name.valid}" >Name</label>
    <input [ngClass]="{'input-error': name.invalid && !name.pristine, 'input-success':name.valid }" class="text-font-18" pattern="[^0-9]*" #name="ngModel" required name="name" type="text" placeholder="Enter your name" ngModel />

    <label [ngClass]="{'label':surname.pristine  ,'label-error': surname.invalid && !surname.pristine  , 'label-focus': surname.valid}" >Surname</label>
    <input [ngClass]="{'input-error': surname.invalid && !surname.pristine, 'input-success':surname.valid }" class="text-font-18" #surname="ngModel" required pattern="[^0-9]*" name="surname" type="text" placeholder="Enter your surname"ngModel />

    <label [ngClass]="{'label':email.pristine  ,'label-error': email.invalid && !email.pristine  , 'label-focus': email.valid}" >Email</label>
    <input [ngClass]="{'input-error': email.invalid && !email.pristine, 'input-success':email.valid }" class="text-font-18" #email="ngModel" required email  name="email" type="email" placeholder="Enter your email address" ngModel />
    
    <label [ngClass]="{'label':password.pristine  ,'label-error': password.invalid && !password.pristine  , 'label-focus': password.valid}" >Password</label>
    <input [ngClass]="{'input-error': password.invalid && !password.pristine, 'input-success':password.valid }" class="text-font-18" minlength="8" #password="ngModel" required name="password"  type="password" placeholder="************" ngModel />
    
    <!-- <app-button typeItem="submit" classItem="button" text="Log In"></app-button> -->
    <button [disabled]="userForm.invalid"  type="submit" class="button" > Sign Up</button>
    
    <div class="login" > 
        <div  class="link"  (click) ="goToLoginPage()">or Log In?</div>
    </div>

</form>