<header>
    
    <app-search-input></app-search-input>

<div class="header-icons">
    <div>
        <ul>
            <li>
                <span class="header-title">{{ user.fullName }}</span>
            </li>
            <li>
                <div [matMenuTriggerFor]="menu" >
                    <span class="header-user-email">{{ user.email }}
                    <img class="header-dropdown-img" src="https://img.icons8.com/material-sharp/24/000000/sort-down.png"/>
                </span>
                </div>

                  <mat-menu #menu="matMenu">
                    
                    <button (click) = "logout()" mat-menu-item>
                      <span class="header-title">Logout</span>
                    </button>
                  </mat-menu>
            </li>
        </ul>
    </div>
                
</div>
</header>