.body{
    margin-top: 150px;
    }
    .error-main{
    background-color: #fff;
    box-shadow: 0px 10px 10px -10px #5D6572;
    }
    .error-main h1{
    font-weight: bold;
    font-size: 100px;
    padding: 30px;
    text-shadow: 2px 4px 5px #6E6E6E;
    }
    
    