<div class="main-text-center main-text-style">
    <div class="main-text-style-2">
        <span class="text-font-18">Enter the e-mail address <br> you want to reset your password</span>
    </div>
</div>  

<form #userForm="ngForm" (ngSubmit)="onSubmit(userForm.value)">
    
    <label class="label" >Email</label>
    <input class="text-font-18" name="email" type="email" placeholder="Enter your email address" (click)="onFocus()" (blur)="onBlur()" ngModel />
    
    <app-button typeItem="submit" classItem="button" text="Reset Password"></app-button>
    
    <div class="sign-up" > 
        <div  class="link"  (click) ="goToLoginPage()">Log In?</div>
    </div>

</form>