
<div class="spinner" *ngIf="showSpinner">
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</div>

<div class="container">
    <div class="row">
        
        <div class="image col-lg-6">
           
            
            <img class="card-img-top" *ngIf="getMovie.backdropPath" src="https://image.tmdb.org/t/p/w500{{getMovie.backdropPath}}" alt="Card image cap" />
            <img class="card-img-top" *ngIf="!getMovie.backdropPath"  src="../../../assets/empty-movie.png" alt="Card image cap" />
            
            
        </div>

        
        <div class="detail col-lg-6">
            <div class="title">         
                <strong>Title</strong>
            </div>
            <div class="description">
                <span>{{getMovie.title}}</span>
            </div>

            <div class="title">
                <strong>Overview</strong>
            </div>
            <div class="description">
                <span>{{getMovie.overview}}</span>
            </div>
        </div>
        
        <hr>

        <div class="image col-lg-12">
            <iframe  width="100%" height="600" [src]="youtubeKey | safe" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>            
        </div>

        <hr>
        
        <div class="property col-lg-12">
            <div>
                <strong>Original Language: </strong>
                <span>{{getMovie.originalLanguage}}</span>
            </div>

            <div>
                <strong>Popularity: </strong>
                <span>{{getMovie.popularity}}</span>
            </div>

            <div>
                <strong>ReleaseDate: </strong>
                <span>{{getMovie.releaseDate}}</span>
            </div>

            <div>
                <strong>Runtime: </strong>
                <span>{{getMovie.runtime}}</span>
            </div>

            <div>
                <strong>Revenue: </strong>
                <span>{{getMovie.revenue}}</span>
            </div>

            <div>
                <strong>Genre: </strong>
                <ul>
                    <li *ngFor="let genre of genres">
                        <span>{{genre.name}}</span>
                    </li>
                </ul>
            </div>

            <div>
                <strong>Vote Average: </strong>
                <span>{{getMovie.voteAverage}}</span>
            </div>

            <div>
                <strong>Vote Count: </strong>
                <span>{{getMovie.voteCount}}</span>
            </div>
            
            <div>
                <strong>Your Vote: </strong>
                <span>{{userVote}}</span>
            </div>
            <button mat-icon-button style="border: none; background-color: white;" *ngFor="let r of ratingArr; index as i" 
                (click)="onClick(i)">
                <span style="color: #FFC107; font-size: 40px;">
                    <mat-icon>
                        {{ returnStar(i) }}
                    </mat-icon>
                </span>
                
            </button>
        </div>

    </div>
</div>