.image {
    padding: 20px;
    background-color: white;
    
}

.image img {
    background-color: yellow;
    
}

.detail {
    background-color: white;
    padding: 30px;
    
}

.description{
    margin-bottom: 15px;
    border-top: 2px solid gainsboro;
}

.property{
    background-color: white;
    padding: 30px;
}

.property div {
    margin-bottom: 10px;
    border-bottom: 2px solid gainsboro;
}

.vote {
    background-color: white;
    padding: 30px;
    margin-bottom: 100px;
}

.vote span {
    
    
}