<form #userForm="ngForm" (ngSubmit)="onSubmit(userForm.value)">
    
    <label class="label" >Email</label>
    <input class="text-font-18" name="email" type="email" placeholder="Enter your email address" (click)="onFocus()" (blur)="onBlur()" ngModel />
    
    <label class="label" >Password</label>
    <input class="text-font-18" name="password"  type="password" placeholder="************" (click)="onFocus()" (blur)="onBlur()" ngModel />
    
    <!-- forgot password link -->
    <div class="password-button-right"> 
        <div class="link" (click)="goToForgotPasswordPage()">Forgot Password?</div>
    </div>

    <app-button typeItem="submit" classItem="button" text="Log In"></app-button>
    
    <div class="sign-up" > 
        <div  class="link"  (click) ="goToSignUpPage()">Sign Up?</div>
    </div>

</form>