<div class="container h-100">
    <div class="row h-100 justify-content-center align-items-xl-center">
        <div class="card-style">
            
            <!-- spinner -->
            <div class="spinner" *ngIf="showSpinner">
                <mat-progress-bar mode="indeterminate"></mat-progress-bar>
              </div>  

                 <app-image></app-image>     
                
                <!-- Login -->
                <app-login-forms *ngIf="status && !signUpStatus"></app-login-forms>

                <!-- Reset Password -->
                <app-password-forgotten-forms *ngIf="!status" ></app-password-forgotten-forms>

                <!-- Signup -->
                <app-signup-forms *ngIf="signUpStatus"></app-signup-forms>
            
        </div>
    </div>
</div>


