<div class="container h-100" >
    
    <div class="row h-100 justify-content-center align-items-xl-center">
        
        <div class="card-style">
                        
            <div class="">
                <!-- <app-image></app-image> -->     
                

                <div class="main-text-center main-text-style">
                    <span class="text-font-18" *ngIf="status">Welcome To The Movie World</span>

                    <div *ngIf="!status"  class="main-text-style-2">
                        <span class="text-font-18">Enter the e-mail address <br> you want to reset your password</span>
                    </div>
                </div>  
                
                <app-login-form *ngIf="status" ></app-login-form>
                
                <app-password-forgotten *ngIf="!status"></app-password-forgotten>

                <app-reset-password-button *ngIf="!status" (click)="emailSend()"></app-reset-password-button>

                <div class="password-button-right" *ngIf="status"> 
                    <app-button class="forgot-password" classItem="link"  text="Forgot Password?" (click) ="forgotPasswordPageShow()"></app-button>
                </div>
                
                <div class="giris-yap" *ngIf="!status">
                    <app-button classItem="link"  text="or Log In" (click) ="loginPageShow()"></app-button>
                </div>

                <app-login-button  *ngIf="status" (click)="createTokenButton()"></app-login-button>
            </div>
        </div>
    </div>
</div>
