.card-style {
    width: 474px;
    background-color: #FFFFFF;
    padding-top: 34px;
    padding-right: 60px;
    padding-bottom: 45px;
    padding-left: 60px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
}

.text-font-14{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #000000;
    
}

.text-font-18{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
    
}

.text-font-24{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 21px;

    color: #000000;
   
}


.main-text-center {
    text-align: center;
}

.main-text-style{
    margin-top: 29.35px;
    margin-bottom: 31px;
}

.main-text-style-2{
    margin-top: 29.35px;
    margin-bottom: 31px;
}

.password-button-right {
    text-align: right;
    margin-bottom: 30px;
}

.giris-yap {    
    margin-top: 46px;
    text-align: center;
    
}





@media (max-width: 720px) {
    .card-style {
        width: 100%;
        border-radius: 0;
        box-shadow:none;

        padding-top: 39px;
        padding-right: 47px;
        padding-bottom: 34px;
        padding-left: 47px;
    }

    .main-text-style{
        margin-top: 47.25px;
        margin-bottom: 199px;
    }

    .main-text-style-2{
        margin-top: 5.25px;
        margin-bottom: 223px;
    }

}



@media (prefers-color-scheme: dark) {
    
    .card-style{
        background-color: #2E2E2E;
    }
    .text-font-18{
        color: #FFFFFF;
    }
    



}
