
<div class="menu-toggle">
  <div class="search-menu">
           
       <div class="search-bar">
          <img src="https://img.icons8.com/material-outlined/24/000000/search--v1.png"/>
      </div>
      
      <div class="search-button">
         <!-- <app-input class="search-input" placeholder="Cast Name" ></app-input>  -->
          <input class="search-input" type="text" #searchText  (keyup)="Search(searchText.value)"  placeholder="Cast Name">
          
      </div>
  </div>
</div>

<div class="spinner" *ngIf="showSpinner">
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</div>

<div class="container">
    <div class="row">
        <div class="card-style col-lg-3 col-md-6 col-sm-6" *ngFor="let cast of castList">
           
          <div class="card">
                <img class="card-img-top" *ngIf="cast.profilePath"  src="https://image.tmdb.org/t/p/w500{{ cast.profilePath }}" alt="cast profile" routerLink="/home/cast/detail/{{ cast.castId }}">
                <img class="card-img-top" *ngIf="!cast.profilePath" height="363"  src="../../../assets/empty-830.png" alt="cast profile" routerLink="/home/cast/detail/{{ cast.castId }}">
                <div class="card-body">
                  <h3 class="card-title">{{ cast.name }}</h3>
                  <hr>
                  <p class="card-text"> <strong>Character:</strong>  {{ cast.character }}</p>
                  <p class="card-text"> <strong>Popularity:</strong>  {{ cast.popularity }}</p>
                  <p class="card-text"> <strong>Department:</strong>  {{ cast.knownForDepartment }}</p>
                </div>
            </div>
        </div>
    </div>
</div>