.image {
    padding: 20px;
    background-color: white;
    
}


.detail {
    background-color: white;
    padding: 30px;
    
}

.description{
    margin-bottom: 15px;
    border-top: 2px solid gainsboro;
}


.vote {
    background-color: white;
    padding: 30px;
    margin-bottom: 100px;
}

.spinner{
    margin-bottom: 20px;
  }