
<div class="menu-toggle">
  <div class="search-menu">
           
       <div class="search-bar">
          <img src="https://img.icons8.com/material-outlined/24/000000/search--v1.png"/>
      </div>
      
      <div class="search-button">
          <app-input class="search-input" placeholder="Movie Name" ></app-input>
          <!-- <input type="text" placeholder="search for a contact"> -->
          
      </div>
  </div>
</div>


<div class="container">
    <div class="row">
      <div class=" card-style col-lg-4 col-md-6 col-sm-12" *ngFor="let movie of movieList">

          <div class="card">
              <img class="card-img-top" src="https://image.tmdb.org/t/p/w500{{ movie.backdropPath }}" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">{{ movie.title }}</h5>
                <p class="card-text">{{ movie.overview }}</p>
                <app-button classItem="detail-button" text="Go To Detail"  routerLink="/home/details/{{movie.movieId}}"></app-button>

              </div>
          </div>
       </div>
    </div>
</div>