@import "~bootstrap/dist/css/bootstrap.min.css";


@media (prefers-color-scheme: dark) {
 
    body{
        background-color: #63666A;
    }
 }
     
 
 html, body { height: 100%; }
 body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; background-color: #F2F2F2; }
 
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
