<div class="container h-100" >
    
    <div class="row h-100 justify-content-center align-items-xl-center">
        
        <div class="card-style">
                        
            <div class="">
                <!-- <app-image></app-image> -->     
                
                <div class="main-text-center main-text-style">
                    <span class="text-font-18">Reset Password</span>

                </div>  
                
                <app-reset-password-form></app-reset-password-form>

                <app-reset-password-button (click)="resetPassword()"></app-reset-password-button>

            </div>
        </div>
    </div>
</div>
