<div class="container h-100" >
    
    <div class="row h-100 justify-content-center align-items-xl-center">
        
        <div class="card-style">
             
            <div class="main-text-center main-text-style">
                <span class="text-font-18">Reset Password</span>

            </div>  

            <form #userForm="ngForm" (ngSubmit)="onSubmit(userForm.value)">
                
                <label [ngClass]="{'label':password.pristine  ,'label-error': password.invalid && !password.pristine , 'label-focus': password.valid}">Password</label>
                <input [ngClass]="{'input-error': password.invalid && !password.pristine, 'input-success':password.valid }" class="text-font-18" minlength="8" required #password="ngModel" name="password"  type="password" placeholder="************" ngModel />
    
                <button  [ngClass]="{'button--loading': spinner}" class="button" [disabled]="userForm.invalid"  type="submit"> 
                    <span class="button__text" >Reset</span>
                </button>

                <div class="reset" > 
                    <div type="button" class="link"  (click) ="goToLoginPage()">Log In?</div>
                </div>

            </form>
        </div>
    </div>
</div>
